.game-element {
    height: 100vh;
}

.arrow-con {
    background: #FFFFFF;

    height: 100%;
    display: flex;
    align-items: center;
}

.arrow {
    width: 230px;
    height: 122px;
    color: #FBC666;
    font-size: 50px;
    box-shadow: 0px 6px 16px 8px rgba(0, 0, 0, 0.08);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;


}