/******************Fonts****************/

@font-face {
  font-family: "lufgabold";
  src: url("fonts/lufga-bold-webfont.woff2") format("woff2"), url("fonts/lufga-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "lufgabold_italic";
  src: url("fonts/lufga-bolditalic-webfont.woff2") format("woff2"), url("fonts/lufga-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "lufgaextrabold";
  src: url("fonts/lufga-extrabold-webfont.woff2") format("woff2"), url("fonts/lufga-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "lufgaextrabold_italic";
  src: url("fonts/lufga-extrabolditalic-webfont.woff2") format("woff2"), url("fonts/lufga-extrabolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "lufgaextralight";
  src: url("fonts/lufga-extralight-webfont.woff2") format("woff2"), url("fonts/lufga-extralight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "lufgaextralight_italic";
  src: url("fonts/lufga-extralightitalic-webfont.woff2") format("woff2"), url("fonts/lufga-extralightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "lufgaitalic";
  src: url("fonts/lufga-italic-webfont.woff2") format("woff2"), url("fonts/lufga-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "lufgalight";
  src: url("fonts/lufga-light-webfont.woff2") format("woff2"), url("fonts/lufga-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "lufgalight_italic";
  src: url("fonts/lufga-lightitalic-webfont.woff2") format("woff2"), url("fonts/lufga-lightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "lufgamedium";
  src: url("fonts/lufga-medium-webfont.woff2") format("woff2"), url("fonts/lufga-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "lufgamedium_italic";
  src: url("fonts/lufga-mediumitalic-webfont.woff2") format("woff2"), url("fonts/lufga-mediumitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "lufgaregular";
  src: url("fonts/lufga-regular-webfont.woff2") format("woff2"), url("fonts/lufga-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/******************General CSS****************/
:root {
  --primary-color: hotpink;
  --secondary-color: #4f4f4f;
  --bakground-color: #ffffff;
  --primary-font: "lufgaregular";
}
* {
  box-sizing: border-box;
}
p {
  color: var(--primary-color);
  font-family: var(--primary-font);
}

.children {
  --primary-color: blue;
}
body {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
}
.shop-container {
  margin: 50px;
}
.shop-container:nth-child(odd) {
  flex-direction: row-reverse;
}

.shop-item {
}

/**Compendium**/
main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.compendium {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 40px;
  max-width: 1300px;
  margin: 0 auto;
}
/**Build-a-Florb**/
nav {
  position: absolute;
  display: none;
}
.builder {
  /* background-image: url(images/build-a-florb/bg.png);
  background-size: cover; */
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
}
.wrapper {
}
.circle {
  height: 400px;
  width: 400px;
  background: #9987b7;
  border-radius: 50%;
  opacity: 0.999;
}
/* .eye {
  height: 100px;
  width: 100px;
  background: white;
  border-radius: 50%;
  opacity: 0.999;
} */

.toolbox {
  display: flex;
  justify-content: center;
  position: fixed;
  height: 200px;
  width: 100vw;
  /* background-color: rgb(116, 116, 116); */
  bottom: 0;
  z-index: 1;
}

.eye {
  height: 200px;
  width: 200px;
}

.color-picker {
  position: fixed;
  left: 0;
  top: 40px;
  margin-left: 20px;
}
.color-picker h4 {
  margin-left: 10px;
}
.current-color {
  width: 40px;
  height: 40px;
}
.color {
  width: 40px;
  height: 40px;
}
.color:hover {
  transform: scale(1.05);
}

.faced {
  width: 600px;
  height: 600px;
  position: relative;
  bottom: 110px;
}

.is-dragging {
  outline: 5px solid hotpink;
}

.menu-full {
  position: relative;
  width: 100%;
  left: 0;
  bottom: 125px;
}

h4 {
  font-family: "Love Ya Like A Sister", cursive;
}
/* .menu-1 {
  filter: grayscale(100%);
} */

.menu-item {
  pointer-events: none;
}
.board {
  stroke: black;
  stroke-width: 5px;
}
.selected {
  stroke: black;
  stroke-width: 5px;
}
.tab {
  cursor: pointer;
}

/**Landing page**/

.sidebar-left {
  position: absolute;
  width: 100px;
  height: 100vh;
  box-shadow: 0px 4px 18px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0px 50px 50px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sidebar-right {
  width: 300px;
  height: 100vh;
  background: #ffffff;
  box-shadow: 0px 4px 18px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0px 50px 50px 0px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  position: absolute;
  right: 0;
}
.logo {
  position: absolute;
  width: 50px;
  left: 25px;
  top: 75px;
}
.icon-wrapper {
}
.icon {
  display: grid;
  place-content: center;
  font-family: var(--primary-font);
  font-weight: 800;
  color: white;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  margin: 10px;
}
.icon:hover {
  transform: scale(1.1);
}
.icon-1 {
  background: #fbc666;
}
.icon-2 {
  background: #fb7f7d;
}
.icon-3 {
  background: #f6acf8;
}
.icon-4 {
  background: #62d0da;
}
.icon-5 {
  background: #4aa67b;
}
.boxes {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-left {
  flex-grow: 1;
  display: grid;
  place-content: center;
}
.content-right {
  flex-grow: 1;
}
.box {
  height: 260px;
  width: 200px;
}
.box-1 {
  background: #fb7f7d;
}
.box-2 {
  background: #f6acf8;
}
.box-3 {
  background: #62d0da;
}
.box-4 {
  background: #4aa67b;
}

.placeholder {
  max-width: 400px;
}
